.content__wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 462px));
    grid-gap: 57px;
    margin-top: 85px;
    margin-bottom: 85px;
}

.content__link {
    grid-column: span 1;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;
    box-sizing: border-box;
    text-decoration: none;
    background: url("../../img/image1.jpg") no-repeat #000;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.content__link::after {
    content: '';
    background-image: linear-gradient(0deg, rgb(26, 26, 26) 0%, rgba(26, 26, 26, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content__link:nth-child(1) {
    padding-top: 44.8%;
}

.content__link:nth-child(2) {
    background-image: url("../../img/image2.jpg");
}

.content__link:nth-child(3) {
    background-image: url("../../img/image3.jpg");
}

.content__link:nth-child(4) {
    background-image: url("../../img/image4.jpg");
}

.content__link:nth-child(5) {
    background-image: url("../../img/image5.jpg");
}

.content__link:nth-child(6) {
    background-image: url("../../img/image6.jpg");
}

.content__link--two {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.content__link--pt {
    padding-top: 77.9%;
}

.content__icon {
    align-self: flex-start;
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
}

.content__name {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 16px;
    color: #fff;
    transition-duration: 500ms;
    transition-property: color;
}

.content__name--big {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 24px;
}

.content__link:hover .content__name {
    color: #f84545;
}